



/* C:\Users\kanka\OneDrive\Desktop\to-do-list-app\todo-list-app\src\index.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}

.App-header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  color: #333;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

li input[type="checkbox"] {
  margin-right: 10px;
}


button {
  padding: 10px 15px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
 
  flex-direction: column;  
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ddd;
  position: relative; 
  display: flex;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
  
}

li span {
  display: block;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 

}


li button {
  margin-left: 10px;
}

li input[type="text"] {
  width: 70%;
  margin-right: 10px;
}

li input[type="text"] {
  flex-grow: 1;
}

li div.description {
  display: block;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}

textarea {
  width: calc(100% - 20px);
  box-sizing: border-box;
  resize: vertical; 
  min-height: 50px; 
}

input[type="text"] {
  width: calc(100% - 20px);
  box-sizing: border-box;
}